@font-face {
    font-family: 'TW-Cen-MT-Condensed';
    src: url('../FONTS/Tw Cen MT Condensed Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../FONTS/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../FONTS/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'QuickSand-Light';
    src: url('../FONTS/QuickSand/Quicksand-Light.ttf');
}

@font-face {
    font-family: 'QuickSand-Bold';
    src: url('../FONTS/QuickSand/Quicksand-Medium.ttf');
}

@font-face {
    font-family: 'BRUX';
    src: url('../FONTS/Brux-Font/BRUX.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'TW-Cen-MT-Condensed';
    background: rgb(34, 34, 34) center/cover no-repeat fixed;
    color: white;
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

a:hover {
    color: rgb(64, 173, 50);
}

.container {
    text-align: center;
}

.gombok {
    font-family: 'TW-Cen-MT-Condensed';
    margin: -0.5cm -0.1cm 0;
    padding: 0.5cm 0;
    background-color: rgba(255, 255, 255, 0.056);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    border-radius: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: box-shadow 0.3s;
}

.gombok:hover {
    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.39);
}

.gombok a {
    font-size: 0.8cm;
    padding: 0 0.5cm;
    border-radius: 15px;
    transition: all 0.5s;
}

.gombok a:hover {
    font-size: 1cm;
    border-radius: 0;
    opacity: 100%;
}

.main {
    font-size: 5rem;
    font-weight: bold;
}

.date {
    margin-bottom: 1rem;
    color: white;
}

#date {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(250, 187, 14);
    border-radius: 16px;
}

#ma {
    margin-top: 1rem;
}

#szuletesnap {
    display: none;
    font-size: 2rem;
    color: #ff6600;
}

footer {
    margin-top: auto;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: white;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
}

@media (max-width: 1000px) {
    body {
        background-color: rgb(34, 34, 34);
    }

    a {
        font-size: 0.7cm;
    }

    .gombok {
        font-family: 'Poppins-Light';
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
        text-align: center;
        transition: all 1s;
    }

    .gombok a {
        display: list-item;
        font-size: 0.6cm;
    }

    .gombok a:hover {
        font-size: 0.7cm;
        transition: all 0.3s;
    }
}

.img {
    border-radius: 15px;
}
