/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Quicksand:wght@300;500&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(34, 34, 34) center/cover no-repeat fixed;
    color: #ffffff;
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* General styles for the hobby section */
.hobby {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Quicksand', sans-serif;
}

/* Center the title */
.hobby .center {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Additional styling for the list of hobbies */
.hobby ul {
  list-style-type: none;
  padding: 0;
}

.hobby li {
  background-color: #ffffff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

a:hover {
    color: #40ad32;
}

.container {
    text-align: center;
}

.gombok {
    font-family: 'Poppins', sans-serif;
    margin: -0.5cm -0.1cm 0;
    padding: 0.5cm 0;
    background-color: rgba(255, 255, 255, 0.056);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    border-radius: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: box-shadow 0.3s;
}

.gombok:hover {
    box-shadow: 0 25px 20px rgba(0, 0, 0, 0.39);
}

.gombok a {
    font-size: 1rem;
    padding: 0 0.5cm;
    border-radius: 15px;
    transition: all 0.5s;
}

.gombok a:hover {
    font-size: 1.25rem;
    border-radius: 0;
    opacity: 1;
}

.main {
    font-size: 5rem;
    font-weight: bold;
}

.date {
    margin-bottom: 1rem;
    color: #ffffff;
}

#date {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fab70e;
    border-radius: 16px;
}

#ma {
    margin-top: 1rem;
}

#szuletesnap {
    display: none;
    font-size: 2rem;
    color: #ff6600;
}

footer {
    margin-top: auto;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #ffffff;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
}

@media (max-width: 1000px) {
    a {
        font-size: 0.875rem;
    }

    .gombok {
        font-family: 'Poppins', sans-serif;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
        text-align: center;
        transition: all 1s;
    }

    .gombok a {
        display: list-item;
        font-size: 0.75rem;
    }

    .gombok a:hover {
        font-size: 0.875rem;
        transition: all 0.3s;
    }
}

.img {
    border-radius: 15px;
}